.audio-controls {

    .icon {
    	background-image: url("assets/adapt-sprite-sheet-48-green.png");
    	height:40px;
    	width:35px;

        &.play {
            background-position: -865px -100px;
        }
        &.pause {
            background-position: -865px -219px;
        }
    }
}